img {
    max-width: 100%; 
    height: auto;    
    display: block; 
}

h1 {
    font-style: product sans;
    color: red;
    text-align: center;
    font-size: clamp(32px, 9vw, 80px); 
    letter-spacing: clamp(2px, 1vw, 5px);
    margin: 0 clamp(20px, 4vw, 50px); 
    margin-top: 5%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

p2 {
    font-size: 20px;
}

.zentriert {
  display: inline-block;   /* Macht die Liste wie ein zentrierter Block */
  text-align: left;        /* Inhalt der Liste wieder linksbündig */
  list-style-position: outside; /* Zahlen stehen sauber in einer Spalte */
}

.centerobject {
    margin-left: auto;
    margin-right: auto;
}

.corner-img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 20%; 
}

.oberpunkt-tabelle {
    font-weight: bold;
}

a{
    color:black;
    font-weight: bold;
    text-decoration: underline;
}

:target {
    border: 2px solid yellow;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
    padding: 5px;
}

body {
    margin: 0; 
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "logo header suchfeld"
        "platzhalter"
        "nav"
        "main"
        "footer";
}
.platzhalter {
    grid-area: platzhalter;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
    background-color: #A8A5A5;
}

.logo { 
    position: fixed;
    display: block;
    width: auto;    
    height: 100%;
    grid-area: logo; 
    background-image: url("../bilder/Alphabet_Inc_Logo.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: top left;
}

header { 
    grid-area: header;
    position: fixed;
}

.suchfeld{ 
    position: fixed;
    display: block;
    width: auto;    
    height: 16vh;
    grid-area: suchfeld; 
    background-image: url("../bilder/hauptlogo.png"); 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: top right; 
}

nav { 
    grid-area: nav;
    background-color: #DB8A8A;
}

main { 
    grid-area: main;
    border: 1px solid #ccc;
    background-color: white;
    justify-content: center; 
    align-items: center;
    text-align: center;
    
}

aside {
    grid-area: aside;
    background-color: #DB8A8A;
    display: block;
    width: auto;    
    grid-area: suchfeld; 
    background-image: url("../bilder/blehcat.gif"); 
    background-size: contain; 
    background-repeat: no-repeat; 
}

footer { 
    grid-area: footer; 
    background-color: #DB8A8A;
}

@media (min-width: 768px) {
    body {
        grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
        grid-template-rows: Minmax(75px, 16vh) 3vh 1fr 20vh; 
        grid-template-areas:
            "logo header header header suchfeld"
            "platzhalter platzhalter platzhalter platzhalter platzhalter"
            "nav nav main aside aside"
            "footer footer footer footer footer";
    }
}
