img {
    max-width: 100%; 
    height: auto;    
    display: block; 
}

h1 {
    font-family: cursive;
    font-style: italic;
    color: red;
    text-align: center;
    font-size: clamp(32px, 8vw, 67px); 
    letter-spacing: clamp(2px, 1vw, 5px);
    margin: 0 clamp(20px, 4vw, 50px); 

}

.centerobject {
    margin-left: auto;
    margin-right: auto;
}

.corner-img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 20%; 
}

.oberpunkt-tabelle {
    font-weight: bold;
}

:target {
    background-color: #ffeb3b;
    color: #000;
    padding: 5px;
    border-radius: 5px;
}

body {
    background-color: #e1e1e1;
    margin: 0; 
    width: 100%;
    min-height: 100vh;
    display: grid;
    gap: 0.5em; 
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "logo"
        "suchfeld"
        "platzhalter"
        "nav"
        "main"
        "aside"
        "footer";
}

.logo { 
    display: block;
    width: 200px;    
    height: 200px;
    grid-area: logo; 
    background-image: url("../bilder/Alphabet_Inc_Logo.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
  
}

header { 
    grid-area: header; 
    background-color:green;
}

.suchfeld { 
    grid-area: suchfeld; 
    background-image: url("../bilder/hauptlogo.png"); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
}

nav { 
    grid-area: nav; 
    background-color:yellow;
}

main { 
    grid-area: main; 
    background-color: #FFFFFF; 
    border: 1px solid #ccc;
}

aside {
    grid-area: aside;
    height: 100%;
    min-height: 200px;
    background-image: url("../bilder/tenor.gif"); 
    background-size: auto; 
    background-repeat: repeat-y; 
    background-position: center;
}

footer { 
    grid-area: footer; 
    background-color:red;
}

.platzhalter {
    grid-area: platzhalter;
    min-height: 1em; 
    background-color: black;
}

@media (min-width: 768px) {
    body {
        grid-template-columns: 2fr 6fr 2fr;
        grid-template-rows: Minmax(75px, 16vh) 5vh 1fr 20vh; 
        grid-template-areas:
            "logo header suchfeld"
            "platzhalter platzhalter platzhalter"
            "nav main aside"
            "footer footer footer";
    }
}
