img {
    max-width: 100%; 
    height: auto;    
    display: block; 
}

h1 {
    font-family: cursive;
    font-style: italic;
    color: red;
    text-align: center;
    font-size: clamp(32px, 8vw, 67px); 
    letter-spacing: clamp(2px, 1vw, 5px);
    margin: 0 clamp(20px, 4vw, 50px); 
    margin-top: 5%
}

.centerobject {
    margin-left: auto;
    margin-right: auto;
}

.corner-img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 20%; 
}

.oberpunkt-tabelle {
    font-weight: bold;
}

a{
    text-decoration: none;
    color:black
}

:target {
    border: 2px solid yellow;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
    padding: 5px;
}

body {
    margin: 0; 
    width: 100%;
    min-height: 100vh;
    display: grid;
    gap: 0.5em; 
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "logo"
        "suchfeld"
        "platzhalter"
        "nav"
        "main"
        "aside"
        "footer";
}

.platzhalter {
    grid-area: platzhalter;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em
}

.logo { 
    display: block;
    width: auto;    
    height: 15vh;
    grid-area: logo; 
    background-image: url("../bilder/Alphabet_Inc_Logo.png");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: top left;
}

header { 
    grid-area: header; 
}

.suchfeld { 
    display: block;
    width: auto;    
    height: 16vh;
    grid-area: suchfeld; 
    background-image: url("../bilder/hauptlogo.png"); 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: top right; 
}

nav { 
    grid-area: nav;
}

main { 
    grid-area: main;
    border: 1px solid #ccc;
}

aside {
    grid-area: aside;
    height: 100%;
    min-height: 200px;
    background-image: url("../bilder/tenor.gif"); 
    background-size: contain; 
    background-repeat: repeat-y; 
    background-position: top;
}

footer { 
    grid-area: footer; 
}

@media (min-width: 768px) {
    body {
        background-color: #ccc;
        grid-template-columns: 2fr 5fr 2fr;
        grid-template-rows: Minmax(75px, 16vh) 10vh 1fr 20vh; 
        grid-template-areas:
            "logo header suchfeld"
            "platzhalter platzhalter platzhalter"
            "nav main aside"
            "footer footer footer";
    }
}
